@tailwind base;
@tailwind components;
@tailwind utilities;


th{
    text-align: center;
    padding-left: 45px;
    padding-right: 55px;
}
td{
    text-align: center;
}
button{
    justify-items: center;
}